@import url("header.css");

:root {
    --cor-de-fundo: #ebecee;
    --cor-do-topo: #FFFFFF;
    --vermelho: red;
    --fonte-principal: "Poppins";
    --cor-do-cartao: #F9F9F9;
    --cor-do-botao-mouse: #FA8072;
    --cor-do-botao-clicado: red;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

/*------------corpo------------*/

.principal {
    display: grid;
    grid-column: 2;
    grid-row: 2 / span 2;
}

.card  {
    display: flex;
    justify-content: center; /*centraliza dentro da div*/
    flex-direction: column;
    position: static;
    width: 650px;
    height: 400px;
    background-color: var(--cor-do-cartao);
    margin: 5em auto 0;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-texto { 
    text-align: center;
}

.card-titulo1 {
    font-size: 25px;
    font-weight: 500;
}

.card-titulo2 {
    font-size: 40px;
    font-weight: 700;
}

@media screen and (max-width: 980px) {

    .card {
        width: 80%;
    }

}

