body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
    padding: 10px 0;
}

/*inicio pagina inicial*/
.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.titulo-principal {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal::first-letter {
    font-weight: bold;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.imgutensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.titulo-beneficios {
    color: #FEFEFE;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-beneficios:first-letter {
    font-weight: bold;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    color: #FEFEFE;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "★ ";
}

.itens:first-child {
    font-weight: bold;
}

.imgbeneficios {
    width: 60%;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    width: 640px;
    margin: 3em auto 0;
}

/*fim pagina inicial*/

.formatacao {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C17C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C17C19;   
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

main {
    
}

form {
    margin: 40px 0 ;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; //tempo de transicao do hover
    cursor: pointer; //maozinha
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
    /*transform: rotate(50deg);*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 20px;
}